<a href="https://colab.research.google.com/github/AntonPaala/CPE313-CPE31S3/blob/main/Hands_on_Act_1_2_Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Procedure

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("AdvancedDFOps").getOrCreate()

Upload the online_retail_ii.csv from Kaggle into your Google Drive.

Mount Google Drive in Colab and read the CSV:

In [ ]:
retail_df = spark.read.csv("/content/drive/MyDrive/CPE032/online_retail_II.csv", header=True, inferSchema=True)
retail_df.printSchema()

root
 |-- Invoice: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Customer ID: double (nullable = true)
 |-- Country: string (nullable = true)

1. Merge data from two years of sales into a single DataFrame.
2. First, split the dataset by year:
3. Perform a full outer join on the "Customer ID" column:

In [ ]:
retail_df.show()

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
| 489434|    22064|PINK DOUGHNUT TRI...|      24|2009-12-01 07:45:00| 1.65|    13085.0|United Kingdom|
| 489434|    21871| SAVE THE PLANET MUG|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
| 489434|    21523|FANCY FONT HOME S...|      10|2009-12-01 07:45:00| 5.95|    13085.0|United Kingdom|
| 489435|    22350|           CAT BOWL |      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|
| 489435|    22349|DOG BOWL , CHASIN...|      12|2009-12-01 07:46:00| 3.75|    13085.0|United Kingdom|
| 489435|    22195|HEART MEASURING S...|      24|2009-12-01 07:46:00| 1.65|    13085.0|United Kingdom|
| 489435|    22353|LUNCHBOX WITH CUT...|      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|
| 489436|   48173C|DOOR MAT BLACK FL...|      10|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|
| 489436|    21755|LOVE BUILDING BLO...|      18|2009-12-01 09:06:00| 5.45|    13078.0|United Kingdom|
| 489436|    21754|HOME BUILDING BLO...|       3|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|
| 489436|    84879|ASSORTED COLOUR B...|      16|2009-12-01 09:06:00| 1.69|    13078.0|United Kingdom|
| 489436|    22119| PEACE WOODEN BLO...|       3|2009-12-01 09:06:00| 6.95|    13078.0|United Kingdom|
| 489436|    22142|CHRISTMAS CRAFT W...|      12|2009-12-01 09:06:00| 1.45|    13078.0|United Kingdom|
| 489436|    22296|HEART IVORY TRELL...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|
| 489436|    22295|HEART FILIGREE DO...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import year, col

df_2009 = retail_df.filter(year(col("InvoiceDate")) == 2009)
df_2010 = retail_df.filter(year(col("InvoiceDate")) == 2010)

# Full outer join on Customer ID

joined_df = df_2009.join(df_2010, on=["Customer ID"], how="full_outer")
# Keep only one "Customer ID"

In [ ]:
df_2009.show()

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
| 489434|    22064|PINK DOUGHNUT TRI...|      24|2009-12-01 07:45:00| 1.65|    13085.0|United Kingdom|
| 489434|    21871| SAVE THE PLANET MUG|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
| 489434|    21523|FANCY FONT HOME S...|      10|2009-12-01 07:45:00| 5.95|    13085.0|United Kingdom|
| 489435|    22350|           CAT BOWL |      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|
| 489435|    22349|DOG BOWL , CHASIN...|      12|2009-12-01 07:46:00| 3.75|    13085.0|United Kingdom|
| 489435|    22195|HEART MEASURING S...|      24|2009-12-01 07:46:00| 1.65|    13085.0|United Kingdom|
| 489435|    22353|LUNCHBOX WITH CUT...|      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|
| 489436|   48173C|DOOR MAT BLACK FL...|      10|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|
| 489436|    21755|LOVE BUILDING BLO...|      18|2009-12-01 09:06:00| 5.45|    13078.0|United Kingdom|
| 489436|    21754|HOME BUILDING BLO...|       3|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|
| 489436|    84879|ASSORTED COLOUR B...|      16|2009-12-01 09:06:00| 1.69|    13078.0|United Kingdom|
| 489436|    22119| PEACE WOODEN BLO...|       3|2009-12-01 09:06:00| 6.95|    13078.0|United Kingdom|
| 489436|    22142|CHRISTMAS CRAFT W...|      12|2009-12-01 09:06:00| 1.45|    13078.0|United Kingdom|
| 489436|    22296|HEART IVORY TRELL...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|
| 489436|    22295|HEART FILIGREE DO...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 20 rows

In [ ]:
df_2010.show()

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 493410|  TEST001|This is a test pr...|       5|2010-01-04 09:24:00|  4.5|    12346.0|United Kingdom|
|C493411|    21539|RETRO SPOTS BUTTE...|      -1|2010-01-04 09:43:00| 4.25|    14590.0|United Kingdom|
| 493412|  TEST001|This is a test pr...|       5|2010-01-04 09:53:00|  4.5|    12346.0|United Kingdom|
| 493413|    21724|PANDA AND BUNNIES...|       1|2010-01-04 09:54:00| 0.85|       NULL|United Kingdom|
| 493413|    84578|ELEPHANT TOY WITH...|       1|2010-01-04 09:54:00| 3.75|       NULL|United Kingdom|
| 493413|    21723|ALPHABET HEARTS S...|       1|2010-01-04 09:54:00| 0.85|       NULL|United Kingdom|
| 493414|    21844|      RETRO SPOT MUG|      36|2010-01-04 10:28:00| 2.55|    14590.0|United Kingdom|
| 493414|    21533|RETRO SPOT LARGE ...|      12|2010-01-04 10:28:00| 4.25|    14590.0|United Kingdom|
| 493414|    37508|NEW ENGLAND CERAM...|       2|2010-01-04 10:28:00| 2.55|    14590.0|United Kingdom|
| 493414|   35001G|HAND OPEN SHAPE GOLD|       2|2010-01-04 10:28:00| 4.25|    14590.0|United Kingdom|
| 493414|    21527|RETRO SPOT TRADIT...|      12|2010-01-04 10:28:00| 6.95|    14590.0|United Kingdom|
| 493414|    21531|RETRO SPOT SUGAR ...|      24|2010-01-04 10:28:00|  2.1|    14590.0|United Kingdom|
|C493415|    21527|RETRO SPOT TRADIT...|      -3|2010-01-04 10:33:00| 7.95|    14590.0|United Kingdom|
|C493426|    22109|FULL ENGLISH BREA...|      -1|2010-01-04 10:41:00| 3.39|    16550.0|United Kingdom|
| 493427|    82483|WOOD 2 DRAWER CAB...|       4|2010-01-04 10:43:00| 5.95|    13287.0|United Kingdom|
| 493427|    21681|GIANT MEDINA STAM...|       2|2010-01-04 10:43:00| 9.95|    13287.0|United Kingdom|
| 493427|    21682|LARGE MEDINA STAM...|       4|2010-01-04 10:43:00| 4.95|    13287.0|United Kingdom|
| 493427|   18096C|WHITE ROUND PORCE...|       6|2010-01-04 10:43:00| 2.55|    13287.0|United Kingdom|
| 493427|    21577|SAVE THE PLANET C...|       6|2010-01-04 10:43:00| 2.25|    13287.0|United Kingdom|
| 493427|    21576|LETS GO SHOPPING ...|       6|2010-01-04 10:43:00| 2.25|    13287.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 20 rows

Union Operations: A union stacks DataFrames vertically but only works if their schemas match exactly in column names, order, and data types.

In [ ]:
union_df = df_2009.union(df_2010)

Advanced Column Operations: Functions like withColumn, year, and struct allow creation of new calculated fields and nested structures without altering the original data.

In [ ]:
from pyspark.sql.functions import month, struct

retail_df = retail_df.withColumn("TotalPrice", col("Quantity") * col("Price")) \
                     .withColumn("Year", year(col("InvoiceDate"))) \
                     .withColumn("Month", month(col("InvoiceDate"))) \
                     .withColumn("ProductInfo", struct(col("StockCode"), col("Description")))

Working with Arrays & Maps: Aggregating values into arrays or maps enables storing complex, multi-value attributes inside a single DataFrame column.

In [ ]:
from pyspark.sql.functions import collect_list, create_map

products_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("Description").alias("ProductsBought"))

maps_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("StockCode").alias("Codes"),
         collect_list("Quantity").alias("Quantities"))

Aggregations and Analytics: Grouping and using aggregate functions such as sum or window functions enables advanced insights like top customers and time-based trends.

In [ ]:
from pyspark.sql.functions import sum as _sum

top_customers = retail_df.groupBy("Customer ID") \
    .agg(_sum("TotalPrice").alias("TotalSpent")) \
    .orderBy(col("TotalSpent").desc()) \
    .limit(5)

In [ ]:
retail_df.show()

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|Year|Month|         ProductInfo|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|2009|   12|{85048, 15CM CHRI...|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323P, PINK CHE...|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323W,  WHITE C...|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|2009|   12|{22041, "RECORD F...|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|{21232, STRAWBERR...|
| 489434|    22064|PINK DOUGHNUT TRI...|      24|2009-12-01 07:45:00| 1.65|    13085.0|United Kingdom|39.599999999999994|2009|   12|{22064, PINK DOUG...|
| 489434|    21871| SAVE THE PLANET MUG|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|{21871, SAVE THE ...|
| 489434|    21523|FANCY FONT HOME S...|      10|2009-12-01 07:45:00| 5.95|    13085.0|United Kingdom|              59.5|2009|   12|{21523, FANCY FON...|
| 489435|    22350|           CAT BOWL |      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|30.599999999999998|2009|   12|  {22350, CAT BOWL }|
| 489435|    22349|DOG BOWL , CHASIN...|      12|2009-12-01 07:46:00| 3.75|    13085.0|United Kingdom|              45.0|2009|   12|{22349, DOG BOWL ...|
| 489435|    22195|HEART MEASURING S...|      24|2009-12-01 07:46:00| 1.65|    13085.0|United Kingdom|39.599999999999994|2009|   12|{22195, HEART MEA...|
| 489435|    22353|LUNCHBOX WITH CUT...|      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|30.599999999999998|2009|   12|{22353, LUNCHBOX ...|
| 489436|   48173C|DOOR MAT BLACK FL...|      10|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|              59.5|2009|   12|{48173C, DOOR MAT...|
| 489436|    21755|LOVE BUILDING BLO...|      18|2009-12-01 09:06:00| 5.45|    13078.0|United Kingdom| 98.10000000000001|2009|   12|{21755, LOVE BUIL...|
| 489436|    21754|HOME BUILDING BLO...|       3|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|             17.85|2009|   12|{21754, HOME BUIL...|
| 489436|    84879|ASSORTED COLOUR B...|      16|2009-12-01 09:06:00| 1.69|    13078.0|United Kingdom|             27.04|2009|   12|{84879, ASSORTED ...|
| 489436|    22119| PEACE WOODEN BLO...|       3|2009-12-01 09:06:00| 6.95|    13078.0|United Kingdom|             20.85|2009|   12|{22119,  PEACE WO...|
| 489436|    22142|CHRISTMAS CRAFT W...|      12|2009-12-01 09:06:00| 1.45|    13078.0|United Kingdom|              17.4|2009|   12|{22142, CHRISTMAS...|
| 489436|    22296|HEART IVORY TRELL...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|19.799999999999997|2009|   12|{22296, HEART IVO...|
| 489436|    22295|HEART FILIGREE DO...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|19.799999999999997|2009|   12|{22295, HEART FIL...|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
only showing top 20 rows